#root {
  width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 960px;
  min-height: 80vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 15px;
}
